@model Saturn_Budgeter.Models.Invitation

<h2>Send an invitation</h2>
<h3>Household</h3>

@using (Html.BeginForm("Invite", "Households", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" value="@ViewBag.HouseholdId" name="HouseholdId" />
        <input type="hidden" value="@ViewBag.SenderId" name="SenderId" />
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="text" name="RecipientFirstName" placeholder="Invitee First Name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="text" name="RecipientLastName" placeholder="Invitee Last Name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="email" name="RecipientEmail" placeholder="Invitee Email" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="text" name="Message" placeholder="Send a message" style="width:100%; height:200px;" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" class="btn btn-primary" value="Send Invitation"/>
            </div>
        </div>
    }
</div>


